* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: #22346a;
  --lightBlue: #1976d2;
  --gradient: linear-gradient(0deg, transparent 0%, var(--darkBlue) 100%);
  --headerHeight: 70px;
  --containerHeight: calc(100dvh - var(--headerHeight));
}

body {
  min-height: 100dvh;
  /* overflow: hidden; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  min-height: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-image: repeating-linear-gradient(315deg, #00ffff2e 92%, #073aff00 100%),
    repeating-radial-gradient(75% 75% at 238% 218%, #00ffff12 30%, #073aff14 39%),
    radial-gradient(99% 99% at 109% 2%, #1976d2 0%, #073aff00 100%),
    radial-gradient(99% 99% at 109% 2%, #1976 0%, #073aff00 100%),
    radial-gradient(99% 99% at 21% 78%, #7b00ffff 0%, #073aff00 100%),
    radial-gradient(160% 154% at 711px -303px, #2000ffff 0%, #073affff 100%);
}


/* Google maps controls  */

.my_location_button {
  background: white;
  color: #666;
  position: relative;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  right: 10px;
}

.seach_place_input {
  background: rgb(255, 255, 255);
  padding: 0px 17px;
  border: none;
  outline: none;
  position: relative;
  top: 10px;
  cursor: pointer;
  overflow: hidden;
  height: 40px;
  vertical-align: middle;
  color: rgb(86, 86, 86);
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  width: 300px;
}

.my_location_button:hover {
  color: black;
}

.custom_marker {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.mark {
  border: 2px solid red;
}

/* .MuiFormControl-root .MuiInputLabel-root.Mui-focused {
  color: var(--darkBlue);
}

.MuiFormControl-root .MuiOutlinedInput-root {
  color: var(--darkBlue);
}

.MuiFormControl-root .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border: 1px solid var(--darkBlue);
}

.MuiFormControl-root .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 2px solid var(--darkBlue);
}
 */
.MuiFormHelperText-root {
  position: absolute;
  bottom: -20px;
}

/*  Leaflet styles */

.leaflet-control-attribution.leaflet-control {
  display: none;
}

.leaflet-marker-icon {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: rgb(52 50 50) 3px 3px 15px;
}

#signupForm .leaflet-marker-icon {
  box-shadow: none;
}

#signupForm .leaflet-marker-icon {
  border: none;
}

.leaflet-container > .leaflet-control-container .leaflet-control-zoom {
  border: none;
  margin: 15px 0 0 15px;
}
.leaflet-container
  .leaflet-control-container
  .leaflet-control-zoom
  > a.leaflet-control-zoom-in,
.leaflet-container
  .leaflet-control-container
  .leaflet-control-zoom
  > a.leaflet-control-zoom-out {
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
  margin-bottom: 8px;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 28px;
  color: var(--lightBlue);
  background: white;
  transition: transform 0.3s linear;
}

.leaflet-container
  .leaflet-control-container
  .leaflet-control-zoom
  > a.leaflet-control-zoom-in:hover,
.leaflet-container
  .leaflet-control-container
  .leaflet-control-zoom
  > a.leaflet-control-zoom-out:hover {
  transform: scale(1.03);
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--lightBlue);
}